{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="container py-4 py-sm-5" id="sign-in-section">
  <!-- Sign In Page Title -->
  <h2 class="text-center mt-sm-4 pb-3 py-sm-4 bold-text">{% trans "Sign In" %}</h2>

  <div class="container col-md-8 col-lg-6 col-xl-5 px-3 px-sm-5 py-3 py-sm-4 rounded auth-box-background">
    {% get_providers as socialaccount_providers %}
  
    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
    
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% trans 'or' %}</div>
    </div>
    
    {% include "socialaccount/snippets/login_extra.html" %}
    
    {% else %}
    <p class="muted-text">{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}" class="underline-text">SIGN UP</a> first.{% endblocktrans %}</p>
    {% endif %}
    
    <!-- SIGN IN FORM [start] -->
    <form id="signin_form" class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <!-- flash messages -->
      <div id="sign-in-errors-wrapper">
        <!-- Code taken from Stackoverflow. [See Credits Section on READMe.md] -->
        {% for key, value in form.errors.items %}
          {% if key != '__all__' %} 
            {{ key }} 
          {% endif %}
          {{ value }}
        {% endfor %}
      </div>

      <!-- Input Fields -->
      <div class="mb-2">
        <label for="id_login" class="form-label mb-1">{{ form.login.label }}: </label>
        {{ form.login }}
      </div>
      <div class="mb-2">
        <label for="id_password" class="form-label mb-1">{{ form.password.label }}:</label>
        {{ form.password }}
      </div>
      <div class="d-flex justify-content-start mt-3">
        <label for="id_remember" class="form-label mb-0 me-2">{{ form.remember.label }}</label>
        {{ form.remember }}
      </div>
  
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}

      <!-- Forgot Password Link -->
      <a class="button secondaryAction d-block text-center mt-4" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <!-- Submit Button -->
      <button class="primaryAction btn btn-primary d-block mx-auto mt-4" type="submit">{% trans "Sign In" %}</button>
    </form>
    <!-- SIGN IN FORM [end] -->
  </div>
</section>
{% endblock %}