{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<section id="sign-out-section" class="container py-4 py-sm-5">
  <!-- Sign Out Page Title -->
  <h2 class="text-center mt-sm-4 pb-3 py-sm-4 bold-text">{% trans "Sign Out" %}</h2>

  <div class="container col-md-8 col-lg-6 col-xl-5 px-3 px-sm-5 py-3 py-sm-4 rounded auth-box-background">
    <p id="sign-out-notice" class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
    <!-- SIGN OUT FORM [start] -->
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <!-- Submit Button -->
      <button class="primaryAction btn btn-primary d-block mx-auto mt-4" type="submit">{% trans 'Sign Out' %}</button>
    </form>
    <!-- SIGN OUT FORM [end] -->
  </div>
</section>
{% endblock %}