{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<!-- CHANGE PASSWORD VIA RESET LINK [start] -->
<section class="container py-4 py-sm-5">
    <!-- Change Password Page Title -->
    <h2 class="text-center mt-sm-4 pb-3 py-sm-4 bold-text">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

    <div class="container col-md-8 col-lg-6 col-xl-5 px-3 px-sm-5 py-3 py-sm-4 rounded auth-box-background">
        {% if token_fail %}
        <!-- Feedback message for INVALID link to reset password -->
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="muted-text mb-4" >{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

        {% else %}
        <!-- CHANGE PASSWORD FORM [start] -->
        <form id="password-reset-from-key" method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="primaryAction btn btn-primary d-block mx-auto mt-4" type="submit">{% trans 'change password' %}</button>
        </form>
        <!-- CHANGE PASSWORD FORM [end] -->
        {% endif %}
    </div>
</section>
<!-- CHANGE PASSWORD VIA RESET LINK [end] -->
{% endblock %}