{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<section class="container py-4 py-sm-5">
    <!-- Password Set Page Title -->
    <h2 class="text-center mt-sm-4 pb-3 py-sm-4 bold-text">{% trans "Set Password" %}</h2>

    <div class="container col-md-8 col-lg-6 col-xl-5 px-3 px-sm-5 py-3 py-sm-4 rounded auth-box-background">
        <!-- PASSWORD SET FORM [start] -->
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="primaryAction btn btn-primary d-block mx-auto mt-4" type="submit">{% trans 'Set Password' %}</button>
        </form>
        <!-- PASSWORD SET FORM [end] -->
    </div>
</section>
{% endblock %}
