{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="container py-4 py-sm-5">
    <h2 class="text-center pb-3 pb-sm-4">{% trans "Change Password" %}</h2>

    <div class="container col-md-8 col-lg-6 col-xl-5 px-3 px-sm-5 py-3 py-sm-4 rounded auth-box-background">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change" id="password-change-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="primaryAction btn btn-primary d-block mx-auto mt-4" type="submit" name="action">{% trans "Change Password" %}</button>
            <!-- Forgot Password Link -->
            <a class="button secondaryAction d-block mt-4" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
</section>
{% endblock %}