{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="container py-4 py-sm-5" id="sign-up-section">
  <!-- Sign Up Page Title -->
  <h2 class="text-center mt-sm-4 pb-3 py-sm-4 bold-text">{% trans "Sign Up" %}</h2>

  <div class="container col-md-9 col-lg-7 col-xl-6 px-3 px-sm-4 px-xl-5 py-3 py-sm-4 rounded auth-box-background">
    <p class="muted-text">{% blocktrans %}Already have an account? Then please <a class="underline-text" href="{{ login_url }}">SIGN IN</a>.{% endblocktrans %}</p>
    
    <!-- SIGN UP FORM [start] -->
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <button type="submit" class="btn btn-primary d-block mx-auto mt-4">Sign Up</button>
    </form>
    <!-- SIGN UP FORM [end] -->
  </div>
</section>
{% endblock %}