{% load humanize %}

<div id="comments-container">
    {% for comment in comments %}
    <!-- COMMENT CARD [start] -->
    <div class="card-body comment-wrapper position-relative py-2 mb-2 me-2 mx-sm-3">
        <h5 class="card-title mb-2 bold-text" id="comment-username"><i class="fa-solid fa-user me-1"></i> {{ comment.author }}</h5>
        <!-- Time Comment was Posted (using django's naturaltime filter) -->
        <p id="comment-posted-on" class="card-subtitle mb-2 text-muted">{{ comment.posted_on|naturaltime }}</p>

        <!-- COMMENT DELETE FORM -->
        {% if comment.author == user %}
        <form class="delete-comment-form" data-url="{% url 'delete_comment' pk=comment.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger position-absolute py-0 px-1 px-sm-2">Delete</button>
        </form>
        {% endif %}

        <p class="card-text mb-1">{{ comment.text_comment }}</p>
    </div>
    <!-- COMMENT CARD [end] -->
    {% endfor %}
</div>
