{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="event-details-outer-container" class="container py-4">
    <p id="goodwill-presents" class="text-center mt-md-4 mt-xl-5">The Goodwill Events presents</p>
    <h2 id="event-details-title" class="text-center my-md-4">{{ event.title }}</h2>
    <p id="event-blurb" class="text-center mb-md-4">{{ event.blurb }}</p>
    <div id="img-wrapper" class="event-details-div container px-0">
        {% if 'proxy_image' in event.featured_image.url %}
        <img src="{% static 'images/default-image.jpg' %}"
            class="event-details-img rounded" alt="featured image">
        {% else %}
        <img src="{{ event.featured_image.url }}" class="event-details-img img-fluid rounded" alt="featured image">
        {% endif %}
    </div>
    <div class="event-details-div text-center">
        <p class="text-center">{{ event.event_date|date:'d F Y, l' }} | <span>{{ event.event_time|date:'g:i A' }}</span></p>
        <p id="reserve-seat-wrapper" class="d-inline">
            <span>
                {% if seats_available > 1 %}
                <small>{{ seats_available }} Seats Left</small>
                {% else %}
                <small>{{ seats_available }} Seat Left</small>
                {% endif %}
            </span>
            |
            <span class="d-none d-sm-inline">
                {% if seats_available > 0 %}
                <a href="{% url 'seatmap' event.slug %}"><button type="button" class="btn btn-primary btn-sm goto-reservations-btn">Reserve A
                        Seat</button> | </a>
                {% else %}
                <a href="{% url 'seatmap' event.slug %}"><button type="button" class="btn btn-primary btn-sm">No Seats
                        Available</button> | </a>
                {% endif %}   
            </span>
            <span>
                <small id="event-likes" class="bold-text">{{ event.total_likes }}
                    {% if event.total_likes > 1 %}
                    <span>Likes</span>
                    {% else %}
                    <span>Like</span>
                    {% endif %}
                </small>
                <!-- Like Button on Small Screen-->
                {% if user.is_authenticated %}
                <form action="{% url 'event_like' event.slug %}" method="POST" id="like-form" class="d-inline d-sm-none">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="event_id" value="event.slug"><i class="fa-solid fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="event_id" value="event.slug"><i class="fa-regular fa-heart"></i></button>
                    {% endif %}
                </form>
                {% endif %}
            </span>
            <span class="d-block d-sm-none">
                {% if seats_available > 0 %}
                <a href="{% url 'seatmap' event.slug %}"><button type="button" class="btn btn-primary btn-sm goto-reservations-btn">Reserve A
                        Seat</button></a>
                {% else %}
                <a href="{% url 'seatmap' event.slug %}"><button type="button" class="btn btn-primary btn-sm">No Seats
                        Available</button></a>
                {% endif %}
            </span>
            <!-- Like Button on Bigger Screen -->
            {% if user.is_authenticated %}
            <form action="{% url 'event_like' event.slug %}" method="POST" id="like-form" class="d-none d-sm-inline">
                {% csrf_token %}
                {% if liked %}
                <button class="like-button ms-2" type="submit" name="event_id" value="event.slug"><i class="fa-solid fa-heart"></i></button>
                {% else %}
                <button class="like-button ms-2" type="submit" name="event_id" value="event.slug"><i class="fa-regular fa-heart"></i></button>
                {% endif %}
            </form>
            {% endif %}
        </p>
    </div>
    <div id="event-post" class="event-details-div py-2 pt-sm-3 pt-md-4 px-2 px-sm-3 px-md-5">
        <p>{{ event.post_content | safe }}</p>
    </div>
</section>

<!-- COMMENT SECTION -->
<section id="comments-outer-wrapper" class="container">
    {% if user.is_authenticated %}
    <div class="mb-3 col-md-9 col-lg-6 m-auto">
        <form id="comment-form" action="{% url 'event_comment' event.slug %}" method="POST">
            {% csrf_token %}
            <label for="comment-textarea" class="form-label">Write Your Comment:</label>
            <textarea class="form-control" id="comment-textarea" name="text_comment" rows="3" maxlength="250" required></textarea>
            <div class="d-flex justify-content-between pt-2">
                <small id="char-counter">250 characters remaining</small>
                <button class="btn btn-primary py-1 disabled" type="submit">Post</button>
            </div>
        </form>
    </div>
    {% endif %}
    <div class="card col-md-9 col-lg-6 mb-5 m-auto px-2 py-3">
        {% if comments %}
        <h4 class="mb-3 mb-sm-4 ms-sm-3 bold-text" id="comment-section-title">COMMENTS:</h4>
        {% else %}
        <p class="text-center my-3">No comments available.</p>
        {% endif %}

        {% include 'events/comments.html' %}

    </div>
</section>

{% endblock content %}