{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="event-details-outer-container" class="container py-4">
    <!-- Event's Title Header -->
    <p id="goodwill-presents" class="text-center mt-md-4 mt-xl-5">The Goodwill Events presents</p>
    <h2 id="event-details-title" class="text-center my-md-4">{{ event.title }}</h2>
    <p id="event-blurb" class="text-center mb-md-4">{{ event.blurb }}</p>

    <!-- Event's Featured Image -->
    <div id="img-wrapper" class="event-details-div container px-0">
        {% if 'proxy_image' in event.featured_image.url %}
        <img src="{% static 'images/default-image.jpg' %}"
            class="event-details-img rounded" alt="featured image">
        {% else %}
        <img src="{{ event.featured_image.url }}" class="event-details-img img-fluid rounded" alt="featured image">
        {% endif %}
    </div>

    <div class="event-details-div text-center">
        <!-- Event's Date & Time -->
        <p class="text-center">{{ event.event_date|date:'d F Y, l' }} | <span>{{ event.event_time|date:'g:i A' }}</span></p>

        <ul id="reserve-seat-wrapper" class="d-inline">
            <!-- Seats Left -->
            <li class="d-inline">
                {% if seats_available > 1 %}
                <small>{{ seats_available }} Seats Left</small>
                {% else %}
                <small>{{ seats_available }} Seat Left</small>
                {% endif %} 
                |
            </li>
            <!-- 'Reserve Button' on BIGGER Screens -->
            <li class="d-none d-sm-inline">
                {% if seats_available > 0 %}
                <a href="{% url 'seatmap' event.slug %}" class="btn btn-primary btn-sm goto-reservations-btn">Reserve A Seat</a> | 
                {% else %}
                <a href="{% url 'seatmap' event.slug %}" class="btn btn-primary btn-sm">No Seats Available</a> | 
                {% endif %}   
            </li>
            <!-- Number of Likes -->
            <li class="d-inline">
                <small id="event-likes" class="bold-text">{{ event.total_likes }}
                    {% if event.total_likes > 1 %}
                    <span>Likes</span>
                    {% else %}
                    <span>Like</span>
                    {% endif %}
                </small>
                <!-- Like Button on SMALL Screens -->
                {% if user.is_authenticated %}
                <form action="{% url 'event_like' event.slug %}" method="POST" class="like-form d-inline d-sm-none">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="event_id" aria-label="liked" value="event.slug"><i class="fa-solid fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="event_id" aria-label="unliked" value="event.slug"><i class="fa-regular fa-heart"></i></button>
                    {% endif %}
                </form>
                {% endif %}
            </li>
            <!-- 'Reserve Button' on SMALL Screens -->
            <li class="d-block d-sm-none">
                {% if seats_available > 0 %}
                <a href="{% url 'seatmap' event.slug %}" class="btn btn-primary btn-sm goto-reservations-btn">Reserve A Seat</a>
                {% else %}
                <a href="{% url 'seatmap' event.slug %}" class="btn btn-primary btn-sm">No Seats Available</a>
                {% endif %}
            </li>
        </ul>
        <!-- Like Button on Bigger Screen -->
        {% if user.is_authenticated %}
        <form action="{% url 'event_like' event.slug %}" method="POST" class="like-form d-none d-sm-inline">
            {% csrf_token %}
            {% if liked %}
            <button class="like-button ms-2" type="submit" aria-label="liked" name="event_id" value="event.slug"><i class="fa-solid fa-heart"></i></button>
            {% else %}
            <button class="like-button ms-2" type="submit" aria-label="unliked" name="event_id" value="event.slug"><i class="fa-regular fa-heart"></i></button>
            {% endif %}
        </form>
        {% endif %}
    </div>

    <!-- Event's Writeup Content -->
    <div id="event-post" class="event-details-div py-2 pt-sm-3 pt-md-4 px-2 px-sm-3 px-md-5">
        {{ event.post_content | safe }}
    </div>
</section>

<!-- COMMENT SECTION [start]-->
<section id="comments-outer-wrapper" class="container">
    {% if user.is_authenticated %}
    <div class="mb-3 col-md-9 col-lg-6 m-auto">
        <!-- COMMENT FORM [start] -->
        <form id="comment-form" action="{% url 'event_comment' event.slug %}" method="POST">
            {% csrf_token %}
            <label for="comment-textarea" class="form-label">Write Your Comment:</label>
            <textarea class="form-control" id="comment-textarea" name="text_comment" rows="3" maxlength="250" required></textarea>
            <div class="d-flex justify-content-between pt-2">
                <small id="char-counter">250 characters remaining</small>
                <button class="btn btn-primary py-1 disabled" type="submit">Post</button>
            </div>
        </form>
        <!-- COMMENT FORM [end] -->
    </div>
    {% endif %}

    <div class="card col-md-9 col-lg-6 mb-5 m-auto px-2 py-3">
        {% if comments %}
        <h4 class="mb-3 mb-sm-4 ms-sm-3 bold-text" id="comment-section-title">COMMENTS:</h4>
        {% else %}
        <p class="text-center my-3">No comments available.</p>
        {% endif %}

        <!-- Display Comments -->
        {% include 'events/comments.html' %}

    </div>
</section>
<!-- COMMENT SECTION [end]-->
{% endblock content %}