{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="events-outer-container" class="py-5">
    <div class="container-md text-center">
        <h2 id="upcoming-events">Upcoming Events</h2>

        {% for event in events_list %}
        <!-- EVENT CARD [start] -->
        <div class="event-card-wrapper card my-5 mb-lg-5 text-center m-auto">
            <a href="{% url 'event_details' event.slug %}">
                <!-- Event's Featured Image -->
                {% if 'proxy_image' in event.featured_image.url  %}
                <img src="{% static 'images/default-image.jpg' %}"
                    class="card-img-top event-card-img" alt="featured image for {{ event.title }}">
                {% else %}
                <img src="{{ event.featured_image.url }}" class="card-img-top event-card-img" alt="featured image for {{ event.title }}">
                {% endif %}
                
                <!-- Event's Info -->
                <div class="card-body">
                    <h3 class="events-list card-title">{{ event.title }}</h3>
                    <p class="card-text mb-1">{{ event.blurb }}</p>
                    <p class="card-text">
                        <small class="text-muted">{{ event.event_date }} | {{ event.event_time }}</small>
                        |
                        <small class="text-muted me-1">{{ event.total_likes }}
                            {% if event.total_likes > 1 %}
                            <span>Likes</span>
                            {% else %}
                            <span>Like</span>
                            {% endif %}
                        </small>
                    </p>
                </div>
            </a>

            <!-- Event's Seat Map Link -->
            <div class="position-relative">
                <a href="{% url 'seatmap' event.slug %}" class="btn btn-primary goto-reservations-btn btn-sm position-absolute top-0 end-0 me-1 mb-1">Reserve A Seat
                </a>
            </div>
        </div>
        <!-- EVENT CARD [end] -->
        {% endfor %}    
    </div>

    <!-- PAGINATION [start] -->
    {% if is_paginated %}
    <nav aria-label="list of events" class="d-flex justify-content-center mb-5">
        <ul class="pagination" id="events-pagination" data-page-number="{{ page_obj.number }}">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}    ">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            {% endif %}

            {% if page_obj.number > 2 %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-1'}}">
                {{ page_obj.number|add:"-1" }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-2'}}">
                {{ page_obj.number|add:"-2" }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-1' }}">
                {{ page_obj.number|add:"-1" }}</a>
            </li>
            {% endif %}

            {% else %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
            {% endif %}

            {% if page_obj.paginator.num_pages >= 3%}
            {% if page_obj.number >= 3 and page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.number|add:'1' }}">
                    {{ page_obj.number|add:"1" }}
                </a>
            </li>
            {% elif not page_obj.has_next %}
            <li class="page-item">
             <a class="page-link" href="?page={{ page_obj.number }}">
                    {{ page_obj.number }}
                </a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
            {% endif %}
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <!-- PAGINATION [start] -->
</section>
{% endblock content %}
