{% extends "base.html" %}

{% block content %}
<section id="view-seatmap-section" class="container py-4 py-sm-5">
    <!-- PAGE HEADER [Start] -->
    <div class="container-md text-center">

        <!-- Page Title -->
        <h2 class="text-center pb-3 pb-sm-4 mb-0 mb-sm-3">Seat Map</h2>
        
        {% if user.is_authenticated %}
        <!-- Instruction if Signed In -->
        <p class="text-center" id="seatmap-instruction">To reserve your seat, you need to choose an event among our <button type="button" class="btn btn-success py-0 px-1"><a href="{% url 'events_list' %}">UPCOMING EVENTS</a></button>.</p>
        {% else %}
        <!-- Instruction if Not Signed In -->
        <p class="text-center" id="seatmap-instruction">To reserve your seat for an event, you need to <button type="button" class="btn btn-success py-0 px-1"><a href="{% url 'account_login' %}">SIGN IN</a></button>.</p>
        {% endif %}
    </div>
    <!-- PAGE HEADER [End] -->

    <!-- COLOUR LEGEND [Start] -->
    <div id="seatmap-legend" class="container d-flex justify-content-around align-items-center px-2 py-1 pt-sm-3 pt-lg-4">
        <p class="seatmap-legend-icon m-0"><i id="available-icon" class="fas fa-circle"></i> Available</p>
        <p class="seatmap-legend-icon m-0"><i id="selected-icon" class="fas fa-circle"></i> Selected</p>
        <p class="seatmap-legend-icon m-0"><i id="unavailable-icon" class="fas fa-circle"></i> Unavailable</p>
    </div>
    <!-- COLOUR LEGEND [End] -->
    
    <!-- SEAT MAP -->
    {% include 'seatmap.html' %}

</section>

{% endblock %}

{% block footer %}

    {% include 'footer.html' %}

{% endblock %}