[data-seat-location] {
    fill: rgb(202, 217, 217);
    stroke: rgb(10, 34, 84);
}

#seatmap-container {
    display: flex;
    border: 2px solid darkblue;
    width: 100%;
}

#seatmap-legend {
    border: 2px solid black;
    width: 20rem;
    height: 10rem;
}

#selected-seats-box {
    border: 2px solid black;
    width: 20rem;
    height: 20rem;
}

#my-svg {
    width: 50vw;
    height: 80vh;
    border: 2px solid firebrick;
}

.booked {
    fill: rgb(25, 169, 12);
}

#data_seats {
    display: none;
}

#reserve_seat_form {
    display: none;
}