/* Customized Variables */
:root {
    --clr-chinese-silver: #ccc6c6;
    --clr-cornflower-blue: #1f418b;
    --clr-slimy-green: #19a90c;
    --clr-crayola-gold: #e6d098;
    --clr-light-coral: #ee7c7af5;
    --clr-red-purple: #9e4949d2;
}

/* UTILITY CLASSES */
.locked-style {
    border-radius: 10px;
    background-color: var(--clr-crayola-gold);
}

.disabled-btn {
    pointer-events: none;
    opacity: .8;
}

/* unavailable seats */
[data-seat-location] {
    fill: var(--clr-chinese-silver);
    stroke: black;
    stroke-width: .6px;
}

#reserve-seats-section {
    min-height: 100%;
    border: 4px solid forestgreen;
    min-height: 100%;
}

/* Event Title */
#event-info > h2 {
    font-size: 1.1rem;
    font-weight: 700;
}

/* Event Date/Time */
#event-info > p {
    font-size: .8rem;
}

#feedbackToast {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-light-coral);
    z-index: 1;
}

/* Legends */
.seatmap-legend-icon {
    font-size: .7rem;
}

#available-icon {
    color: var(--clr-chinese-silver);
    font-size: 1rem;
    border: .6px solid black;
    border-radius: 50%;
}

#selected-icon {
    color: var(--clr-slimy-green);
    font-size: 1rem;
}

#unavailable-icon {
    color: var(--clr-cornflower-blue);
    font-size: 1rem;
}

#my-svg {
    width: 100%;
    height: 55vh;
    border: 2px solid firebrick;
}

.booked {
    fill: var(--clr-cornflower-blue);
    pointer-events: none;
}

.user-selected {
    fill: var(--clr-slimy-green);
}

#svg-pan-zoom-controls {
    display: none;
}

/* Seat Map BLocker */
#seatmap-blocker {
    background-color: var(--clr-cornflower-blue);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
}

/* Selected Seats Footer Box */
#selected-seats-container {
    background-color: beige;
    border: 1px solid black;
}

#selected-seats-container > h3 {
    font-size: .9rem;
    font-weight: 700;
}

#seats-selected-list > li {
    font-size: .9rem;
}

.btn-cancel-seat {
    font-size: 1.4rem;
    color: var(--clr-red-purple);
    background: none;
    border: none;
}

#update-reservation,
#submit-reservation {
    font-size: .9rem;
    width: 6.2rem;
    padding: .2rem .7rem;
}

/* Hidden Elements */
#data-seats {
    display: none;
}

#reserve-seat-form {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 360px) {

    /* Event Title */
    #event-info > h2 {
        font-size: 1.2rem;
    }
    
    /* Event Date/Time */
    #event-info > p {
        font-size: .9rem;
    }

}

@media screen and (min-width: 576px) {

    /* Event Title */
    #event-info > h2 {
        font-size: 1.4rem;
    }

    .seatmap-legend-icon {
        font-size: 1rem;
    }

    .toast-body {
        font-size: 1.1rem;
    }

    #selected-seats-container > h3 {
        font-size: 1.1rem;
    }

    #reservation-notice {
        font-size: .8rem;
    }

    #svg-pan-zoom-controls {
        display: block;
    }
}

@media screen and (min-width: 768px) {

    /* Event Title */
    #event-info > h2 {
        font-size: 1.6rem;
    }
    
    /* Event Date/Time */
    #event-info > p {
        font-size: 1rem;
    }

    #available-icon,
    #selected-icon,
    #unavailable-icon {
        font-size: 1.5rem;
    }

    #selected-seats-container > h3 {
        width: 42rem;
    }

    #selected-seats-inner-wrapper {
        width: 42rem;
    }

    #reservation-notice {
        width: 42rem;
    }
}

@media screen and (max-height: 600px) {
    #seatmap-container {
        margin-bottom: 10rem;
    }
}

@media screen and (max-height: 900px) {
    #seatmap-container {
        margin-bottom: 12rem;
    }
}