/* Customized Variables */
:root {
    --clr-chinese-silver: #ccc6c6;
    --clr-cornflower-blue: #1f418b;
    --clr-slimy-green: #19a90c;
}

/* unavailable seats */
[data-seat-location] {
    fill: var(--clr-chinese-silver);
    stroke: black;
    stroke-width: .6px;
}

#seating-event-title {
    font-weight: 700;
}

/* Legends */
.seatmap-legend-icon {
    font-size: .7rem;
}

#available-icon {
    color: var(--clr-chinese-silver);
    font-size: 1rem;
    border: .6px solid black;
    border-radius: 50%;
}

#selected-icon {
    color: var(--clr-slimy-green);
    font-size: 1rem;
}

#unavailable-icon {
    color: var(--clr-cornflower-blue);
    font-size: 1rem;
}

#seatmap-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#my-svg {
    width: 100%;
    height: 55vh;
    border: 2px solid firebrick;
}

.booked {
    fill: var(--clr-cornflower-blue);
    pointer-events: none;
}

.user-selected {
    fill: var(--clr-slimy-green);
}

#svg-pan-zoom-controls {
    display: none;
}

/* Selected Seats Box */
#selected-seats-container {
    background-color: beige;
    border: 1px solid black;
    height: 8rem;
}

#your-selected-seats {
    font-size: 1rem;
    font-weight: 700;
}

#seats-selected-list {
    padding-left: 0;
}

.btn-seat-location {
    font-size: 1.4rem;
    color: rgba(158, 73, 73, 0.822);
    background: none;
    border: none;
    padding: 0;
}

#update-reservation,
#submit-reservation {
    font-size: .9rem;
    width: 6.2rem;
    padding: .2rem .7rem;
}

.disabled-reserve-btn {
    pointer-events: none;
    opacity: .8;
}

/* Hidden Elements */
#data-seats {
    display: none;
}

#reserve-seat-form {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 360px) {
    #seats-selected-list {
        padding-left: 2.5rem;
    }
}

@media screen and (min-width: 574px) {
    
    .seatmap-legend-icon {
        font-size: 1rem;
    }

    #selected-seats-container {
        height: 11rem;
    }

    #reservation-notice {
        font-size: .8rem;
        margin-top: 1rem;
        padding-left: 0;
    }

    #svg-pan-zoom-controls {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    #available-icon,
    #selected-icon,
    #unavailable-icon {
        font-size: 1.5rem;
    }

    #seats-selected-list {
        padding-left: 5rem;
    }

    #your-selected-seats {
        width: 42rem;
        margin: auto;
    }

    #selected-seats-inner-wrapper {
        width: 42rem;
        margin: .5rem auto 0;
    }

    #reservation-notice {
        width: 42rem;
        margin: 1rem auto 0;
    }
}