/* Customized Variables */
:root {
    --clr-mikado-yellow: #f9c012;
    --clr-rich-black: #030328;
    --clr-timber-wolf: #E3D7D7;
    --clr-dutch-white: #F0E2BF;
    --clr-crayola-gold: #e6d098;
    --clr-linen: #F9F3E5;
    --clr-police-blue: #284b63;
    --clr-american-pink:#ff9393;
    --clr-white: white;
}

/* DEFAULT STYLING */

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
    background-image: linear-gradient(to right bottom, var(--clr-linen), var(--clr-dutch-white));
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

/* prevents the textarea from resizing */
textarea {
    resize: none;
}

/* UTILITY CLASSES [Start] */
.active {
    font-weight: 700;
}

.auth-box-background {
    background-color: var(--clr-police-blue);
}

.bold-text {
    font-weight: bold;
}

.disabled-field {
    border: 1px solid gray;
    background-color: rgb(162, 162, 162);
}

.disabled-link {
    pointer-events: none;
}

.logo-font-style {
    font-family: 'Lobster', cursive;
}

.muted-text {
    color: var(--clr-linen);
    opacity: .8;
}

.text-pink {
    color: var(--clr-american-pink);
}

.text-white {
    color: var(--clr-white);
}

.underline-text {
    text-decoration: underline;
}

.underline-text:hover {
    color: var(--clr-mikado-yellow);
}

/* UTILITY CLASSES [Start] */

/* Logo */
#logo {
    font-size: 1.7rem;
}

/* navbar */

#navbar-main {
    background-color: var(--clr-mikado-yellow);
}

.nav-item {
    font-size: 1.1rem;
}

/* --> HOME PAGE [start] <-- */

#homepage-banner-container {
    background-color: var(--clr-dutch-white);
    box-shadow: 0 -60px 30px 35px var(--clr-crayola-gold),
                0 -5px 30px 35px var(--clr-crayola-gold) inset;
}

#homepage-title {
    font-weight: 700;
}

#title-span {
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
}

#catchy-line {
    margin-top: 1rem;
}

/* featured events */
#feature-events-outer-container {
    background-image: linear-gradient(to bottom, var(--clr-crayola-gold), var(--clr-linen));
    padding: 2rem 1rem;
}

#featured-events {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.featured-event-image {
    height: 10rem;
    object-fit: cover;
}

.feat-event-card {
    border: 3px solid darkblue;
}

.featured.card-title {
    font-weight: 700;
}

/* About Us */
#about-us-outer-container {
    background-image: linear-gradient(to bottom, var(--clr-linen), var(--clr-crayola-gold));
}

#about-us {
    font-size: 1.4rem;
    font-weight: 700;
}

#about-us-outer-container p {
    font-size: 1rem;
    text-align: justify;
}

#logo-about-us {
    font-size: 1.3rem;
}

/* --> HOME PAGE [end] <-- */


/* --> ALL EVENTS PAGE [Start] <-- */
#upcoming-events {
    font-size: 1.4rem;
    font-weight: 700;
}

#event-card-wrapper {
    border: 3px solid rgb(147, 87, 87)
}

.event-card-img {
    height: 8rem;
    object-fit: cover;
}

.events-list.card-title {
    font-weight: 700;
}

#event-title:hover {
    letter-spacing: 1.5px;
    color: rgb(29, 45, 184);
}

#event-post {
    padding: .5rem 0;
}

#reserve-btn {
    display: block;
    margin: auto;
}

/* --> ALL EVENTS PAGE [End] <-- */

/* --> EVENT DETAILS PAGE [start] */
#event-details-title {
    font-weight: 700;
}

#event-blurb {
    font-weight: 300;
}

#img-wrapper {
    height: 12rem;
}

.event-details-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* event likes */
#like-form>button {
    background: none;
    border: none;
    margin-left: .5rem;
}

.fa-heart {
    color: rgb(182, 26, 26);
    font-size: 1.6rem;
}

/* comments */
#comment-section-title {
    font-size: 1.3rem;
}

#comments-container {
    height: 35rem;
    overflow: auto;
    scrollbar-color: var(--clr-dutch-white) var(--clr-linen);   /* styles scrollbar in Firefox */
    scrollbar-width: thin;   /* styles scrollbar thumb in Firefox */
}

/* styles scrollbar in Chrome, Safari, & Edge */
#comments-container::-webkit-scrollbar {
    background-color: var(--clr-linen);
    border-radius: 10px;
    width: 10px;
}

/* styles scrollbar thumb in Chrome, Safari, & Edge */
#comments-container::-webkit-scrollbar-thumb {
    background-color: var(--clr-dutch-white);
    border-radius: 5px;
}

.comment-wrapper {
    position: relative;
    background-color: var(--clr-linen);
    border-radius: 10px;
}

#comment-username {
    font-size: 1rem;
}

#comment-posted-on {
    font-size: .8rem;
}

.delete-comment-form > button {
    font-size: .8rem;
    position: absolute;
    right: 14px;
    top: 26px;
}

/* --> EVENT DETAILS PAGE [end] */


/* --> FOOTER [Start] <--*/

footer {
    width: 100%;
    height: 8rem;
    background-color: var(--clr-rich-black);
    color: var(--clr-white)
}

#social-links {
    width: 100%;
}

.fa-brands {
    font-size: 2rem;
    color: var(--clr-white);
}

/* --> FOOTER [End] <--*/


/* --> SIGN UP [Start] <-- */
#signup_form label {
    color: var(--clr-white);
}

#signup_form p {
    margin-top: 1rem;
    margin-bottom: 0;
}

#signup_form input {
    display: block;
    font-size: .9rem;
    width: 100%;
    padding: .1rem .5rem;
    border-radius: 8px;
    border: 1px solid rgb(186, 181, 181);
    margin: auto;
}

.errorlist {
    color: var(--clr-american-pink);
    font-size: .9rem;
    margin-top: 1rem;
    padding-left: 0;
    text-align: center;
    border-radius: 5px;
}
/* --> SIGN UP [End] <-- */


/* --> SIGN IN [Start] <-- */
#signin_form label,
#signin_form > a {
    color: var(--clr-white);
}

#signin_form > a:hover {
    color: var(--clr-dutch-white);
}

#signin_form input {
    display: block;
    width: 100%;
    padding: .1rem .5rem;
    border-radius: 8px;
    border: 1px solid rgb(186, 181, 181);
}

#id_remember {
    width: 1rem !important;
}

#sign-in-errors-wrapper {
    margin: 1rem 0;
}

#sign-in-errors-wrapper .errorlist {
    padding-left: 0;
    margin: 0;
}
/* --> SIGN IN [End] <-- */


/* --> SIGN OUT [Start] <-- */
#sign-out-notice {
    color: var(--clr-white);
}
/* --> SIGN OUT [End] <-- */


/* --> PASSWORD RESET [Start] <-- */
#password-reset-form label {
    color: var(--clr-white);
}

#password-reset-form input {
    width: 100%;
    padding: .1rem .5rem;
    border-radius: 8px;
    border: 1px solid rgb(186, 181, 181);
    margin-top: .4rem;
}
/* --> PASSWORD RESET [End] <-- */


/* --> PASSWORD RESET FROM KEY [Start] */
#password-reset-from-key label {
    color: var(--clr-white);
}

#password-reset-from-key input {
    width: 100%;
    padding: .1rem .5rem;
    border-radius: 8px;
    border: 1px solid rgb(186, 181, 181);
    margin-top: .4rem;
}
/* --> PASSWORD RESET FROM KEY [Start] */


/* --> PASSWORD CHANGE [Start] <-- */
#password-change-form label {
    color: var(--clr-white);
}

#password-change-form input {
    width: 100%;
    padding: .1rem .5rem;
    border-radius: 8px;
    border: 1px solid rgb(186, 181, 181);
    margin-top: .4rem;
}

#password-change-form a {
    color: var(--clr-white);
}
/* --> PASSWORD CHANGE [End] <-- */


/* --> MEMBER ACCOUNT Page [Start] <-- */
#member_account_form label {
    color: var(--clr-white);
}

#member_account_form input {
    width: 80%;
    padding: .1rem .5rem;
    border-radius: 8px;
}

#change-password:hover {
    color: var(--clr-police-blue);
    font-weight: 700;
}
/* --> MEMBER ACCOUNT Page [End] <-- */


/* 404 ERROR PAGE [Start] */
#error-404 {
    font-size: 1.5rem;
}

/* 404 ERROR PAGE [End] */


/* --> FLASH MESSAGES [Start] <-- */


/* --> FLASH MESSAGES [End] <-- */


/* MEDIA QUERIES */

@media screen and (min-width:400px) {
    #logo {
        font-size: 2rem;
    }

    .navbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    /* ALL EVENTS PAGE */
    #event-card-wrapper {
        width: 75%
    }

    #upcoming-events {
        font-size: 1.8rem;
    }

    /* EVENT DETAILS PAGE */
    .delete-comment-form > button {
        font-size: 1rem;
    }

    /* SIGN OUT */
    #sign-out-notice {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 485px) {
    #logo-about-us {
        font-size: 1.5rem;
    }

    #about-us-outer-container p {
        font-size: 1.1rem;
    }

    #reserve-btn {
        display: inline;
    }

    /* EVENT DETAILS PAGE */
    #img-wrapper {
        height: 14rem;
    }

    /* FOOTER */
    #social-links {
        width: 28rem;
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    /* HOME PAGE */
    .feat-event-card-wrapper {
        padding-left: 12%;
        padding-right: 12%;
    }
}

@media screen and (min-width: 768px) {
    #logo {
        font-size: 2.4rem;
    }

    .navbar {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    /* ABOUT US */
    #about-us-wrapper {
        width: 40rem;
    }

    #about-us-outer-container p {
        font-size: 1.2rem;
    }

    /* EVENT DETAILS PAEG */
    #img-wrapper {
        height: 18rem;
    }

    /* FOOTER */
    #copy-right {
        font-size: 1.2rem;
    }

    #social-links {
        width: 24rem;
    }
    
}

@media screen and (min-width: 900px) {

    /* ALL EVENTS PAGE */
    #upcoming-events {
        font-size: 2.2rem;
    }

    .event-card-img {
        height: 10rem;
        object-fit: cover;
    }

    #event-post {
        padding: 1.5rem 0;
    }

    /* FOOTER */
    #copy-right {
        font-size: 1.4rem;
    }

    #social-links {
        width: 28rem;
    }
}

@media screen and (min-width: 992px) {
    /* EVENT DETAILS PAEG */
    #img-wrapper {
        height: 22rem;
    }
}


@media screen and (min-width: 1080px) {

    /* EVENTS DETAILS PAGE */
    .event-details-div {
        width: 58rem;
        margin: auto;
    }

    /* FOOTER */
    #social-links {
        width: 32rem;
    }
}

@media screen and (min-width: 1200px) {

    /* HOME PAGE */
    #featured-events-inner-container {
        width: 75rem;
        margin: 0 auto;
    }

    .feat-event-card-wrapper {
        width: 23rem;
    }

}