* {
    /* font-family: 'Oxygen', sans-serif; */
    /* font-style: normal; */
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
    text-decoration: none;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    width: 100%;
    height: 8rem;
    background-color: blue;
    color: white;
}

#social-links {
    display: flex;
    flex-direction: column;
}

#social-links>p {
    margin-bottom: 0;
}

#social-icons {
    display: flex;
    justify-content: start;
    width: 100%;
    padding-left: 0;
}

.social {
    padding-right: 1.8rem;
}

.fa-brands {
    font-size: 2rem;
    color: white;
}