/* Customized Variables */
:root {
    --clr-white: #ffffff;
    --clr-linen: #F9F3E5;
    --clr-dutch-white: #F0E2BF;
    --clr-crayola-gold: #e6d098;
    --clr-timber-wolf: #E3D7D7;
    --clr-jonquil: #f7d61c;
    --clr-mikado-yellow: #f9c012;
    --clr-american-pink:#fa9f9f;
    --clr-police-blue: #284b63;
    --clr-rich-black: #030328;
    --font-lobster: 'Lobster', cursive;
}

/* DEFAULT STYLING [Start] */
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    z-index: 1;
}

main {
    flex: 1 0 auto;
    background-image: linear-gradient(to right bottom, var(--clr-linen), var(--clr-dutch-white));
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

textarea {         
    resize: none;       /* prevents resizing of textarea */
}
/* DEFAULT STYLING [End] */

/* UTILITY CLASSES [Start] */
.active {
    font-weight: 700;
    background-color: var(--clr-linen);
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 0 5px 1px var(--clr-police-blue) inset;
}

.auth-box-background {
    background-color: var(--clr-police-blue);
}

.bold-text {
    font-weight: bold;
}

.disabled-field {
    border: 1px solid #808080;
    background-color: #a2a2a2;
}

.disabled-link {
    pointer-events: none;
}

.font-lobster {
    font-family: var(--font-lobster);
}

.muted-text {
    color: var(--clr-linen);
    opacity: .8;
}

.small-text {
    font-size: .9rem;
}

.text-pink {
    color: var(--clr-american-pink);
}

.text-white {
    color: var(--clr-white);
}

.text-blue {
    color: var(--clr-police-blue);
}

.color-dutch-white {
    background-color: var(--clr-dutch-white);
}

.underline-text {
    text-decoration: underline;
}

.underline-text:hover {
    color: var(--clr-mikado-yellow);
}

.goto-reservations-btn:hover {
    color: black;
    background-color: var(--clr-jonquil);
    border: 1px solid var(--clr-police-blue);
}
/* UTILITY CLASSES [End] */

/* Logo */
#logo {
    font-size: 1.7rem;
    transition: .3s;
}

#logo:hover {
    color: var(--clr-police-blue);
    font-weight: 700;
    text-shadow: 3px 0 5px var(--clr-linen), 1px 0 0 var(--clr-rich-black);

}

/* navbar */
#navbar-main {
    background-color: var(--clr-mikado-yellow);
    box-shadow: 0px 0px 50px 5px rgb(235, 210, 16) inset, 0px 0px 5px 5px rgb(0, 0, 0) inset;
}

.nav-link {
    color:#000000;
    font-size: 1.1rem;
}

.nav-link:hover {
    color:#000000;
    background-color: #f0e2bfc1;
    border-radius: 10px;
}

/* --> HOME PAGE [start] <-- */
#homepage-banner-container {
    background-color: rgb(238, 204, 35);
    box-shadow: 0 -60px 30px 35px var(--clr-crayola-gold),
                0 0 30px 35px var(--clr-crayola-gold) inset;
}

#title-span {
    color: var(--clr-police-blue);
    font-weight: 700;
    font-size: 1.3rem;
    text-shadow: 2px 2px 6px var(--clr-white);
}

#homepage-title {
    font-family: var(--font-lobster);
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--clr-police-blue);
    text-shadow: 4px 0 10px white, 4px 0 5px rgb(188, 180, 59) ;
}

/* featured events */
#feature-events-outer-container {
    background-image: linear-gradient(to bottom, var(--clr-crayola-gold), var(--clr-linen));
    padding: 2rem 1rem;
}

#featured-events {
    font-size: 1.4rem;
    font-weight: 700;
}

.feat-event-card-wrapper {
    max-width: 23rem;
    transition: .3s;
}

.feat-event-card-wrapper:hover {
    transform: rotate(2deg);
}

.featured-event-image {
    height: 10rem;
    object-fit: cover;
}

.feat-event-card {
    border: 5px solid var(--clr-police-blue);
    border-radius: 10px
}

.featured.card-title {
    color: var(--clr-police-blue);
    font-size: 1.1rem;
    font-weight: 700;
}

/* About Us */
#about-us-outer-container {
    background-image: linear-gradient(to bottom, var(--clr-linen), var(--clr-crayola-gold));
}

#about-us {
    font-size: 1.4rem;
    font-weight: 700;
}

#about-us-outer-container p {
    font-size: 1rem;
    text-align: justify;
}

#logo-about-us {
    font-size: 1.3rem;
}
/* --> HOME PAGE [end] <-- */


/* --> ALL EVENTS PAGE [Start] <-- */
#upcoming-events {
    font-size: 1.4rem;
    font-weight: 700;
}

.event-card-wrapper {
    border: 2px solid var(--clr-police-blue);
    border-radius: 10px;
}

.event-card-wrapper:hover {
    box-shadow: 2px 0 15px 0 var(--clr-police-blue);
    opacity: .9;
    transition: .3s;
}

.event-card-img {
    height: 8rem;
    object-fit: cover;
}

.events-list.card-title {
    color: var(--clr-police-blue);
    font-size: 1.1rem;
    font-weight: 700;
}
/* --> ALL EVENTS PAGE [End] <-- */

/* --> EVENT DETAILS PAGE [start] */
#event-details-title {
    color: var(--clr-police-blue);
    text-shadow: 0 0 .5px var(--clr-rich-black);
    font-size: 1.2rem;
    font-weight: 700;
}

#event-blurb {
    font-weight: 300;
}

#img-wrapper {
    height: 12rem;
}

.event-details-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* event likes */
.like-form > button {
    background: none;
    border: none;
}

.like-form > button i:hover {
    text-shadow: 0 0 8px #b61a1a;
}

.fa-heart {
    color: #b61a1a;
    font-size: 1.6rem;
}

/* comments */
#comment-section-title {
    font-size: 1.3rem;
}

#comments-container {
    max-height: 35rem;
    overflow: auto;
    scrollbar-color: var(--clr-dutch-white) var(--clr-linen);   /* styles scrollbar in Firefox */
    scrollbar-width: thin;   /* styles scrollbar thumb in Firefox */
}

/* styles scrollbar in Chrome, Safari, & Edge */
#comments-container::-webkit-scrollbar {
    background-color: var(--clr-linen);
    border-radius: 10px;
    width: 10px;
}

/* styles scrollbar thumb in Chrome, Safari, & Edge */
#comments-container::-webkit-scrollbar-thumb {
    background-color: var(--clr-dutch-white);
    border-radius: 5px;
}

.comment-wrapper {
    background-color: var(--clr-linen);
    border-radius: 10px;
}

.comment-username {
    font-size: 1rem;
}

.comment-posted-on {
    opacity: .9;
    font-size: .8rem;
}

.delete-comment-form > button {
    font-size: .8rem;
    right: 14px;
    top: 26px;
}
/* --> EVENT DETAILS PAGE [End] */

/* --> SEAT MAP PAGE [Start] */
#seatmap-instruction,
#seatmap-instruction > a {
    font-size: .9rem;
}

#seatmap-instruction > a:hover {
    color: var(--clr-rich-black);
    background-color: var(--clr-crayola-gold);
    border: 1px solid var(--clr-crayola-gold);
}

#view-seatmap-section h2 {
    font-size: 1.4rem;
    font-weight: 700;
}
/* --> SEAT MAP PAGE [End] */


/* --> FOOTER [Start] <--*/
footer {
    width: 100%;
    height: 8rem;
    background-color: var(--clr-rich-black);
    color: var(--clr-white)
}

#copy-right {
    font-size: 1rem;
    font-weight: 700;
}

#educ-statement {
    font-size: .8rem;
}

#social-links {
    width: 100%;
}

/* social icon */
.social i {
    font-size: 1.5rem;
}

.social i:hover {
    color: var(--clr-mikado-yellow);
} 
/* --> FOOTER [End] <--*/


/* --> SIGN UP [Start] <-- */
#signup_form label {
    color: var(--clr-white);
}

#signup_form p {
    margin-top: 1rem;
    margin-bottom: 0;
}

#signup_form input {
    display: block;
    font-size: .9rem;
    width: 100%;
    padding: .1rem .5rem;
    border-radius: 8px;
    border: 1px solid rgb(186, 181, 181);
    margin: auto;
}

.errorlist {
    color: var(--clr-american-pink);
    font-size: .9rem;
    margin-top: 1rem;
    padding-left: 0;
    text-align: center;
    border-radius: 5px;
}
/* --> SIGN UP [End] <-- */


/* --> SIGN IN [Start] <-- */
#signin_form label,
#signin_form > a {
    color: var(--clr-white);
}

#signin_form > a:hover {
    color: var(--clr-dutch-white);
}

#signin_form input {
    display: block;
    width: 100%;
    padding: .1rem .5rem;
    border-radius: 8px;
    border: 1px solid rgb(186, 181, 181);
}

#id_remember {
    width: 1rem !important;
}

#sign-in-errors-wrapper {
    margin: 1rem 0;
}

#sign-in-errors-wrapper .errorlist {
    padding-left: 0;
    margin: 0;
}
/* --> SIGN IN [End] <-- */


/* --> SIGN OUT [Start] <-- */
#sign-out-notice {
    color: var(--clr-white);
}
/* --> SIGN OUT [End] <-- */


/* --> PASSWORD RESET [Start] <-- */
#password-reset-form label {
    color: var(--clr-white);
}

#password-reset-form input {
    width: 100%;
    padding: .1rem .5rem;
    border-radius: 8px;
    border: 1px solid rgb(186, 181, 181);
    margin-top: .4rem;
}
/* --> PASSWORD RESET [End] <-- */


/* --> PASSWORD RESET FROM KEY [Start] */
#password-reset-from-key label {
    color: var(--clr-white);
}

#password-reset-from-key input {
    width: 100%;
    padding: .1rem .5rem;
    border-radius: 8px;
    border: 1px solid rgb(186, 181, 181);
    margin-top: .4rem;
}
/* --> PASSWORD RESET FROM KEY [Start] */


/* --> PASSWORD CHANGE [Start] <-- */
#password-change-form label {
    color: var(--clr-white);
}

#password-change-form input {
    width: 100%;
    padding: .1rem .5rem;
    border-radius: 8px;
    border: 1px solid rgb(186, 181, 181);
    margin-top: .4rem;
}

#password-change-form > a {
    color: var(--clr-white);
}

#password-change-form > a:hover {
    color: var(--clr-dutch-white);
}
/* --> PASSWORD CHANGE [End] <-- */


/* --> MEMBER ACCOUNT Page [Start] <-- */
#member_account_form label {
    color: var(--clr-white);
}

#member_account_form input {
    width: 80%;
    padding: .1rem .5rem;
    border-radius: 8px;
}

#change-password:hover {
    color: var(--clr-dutch-white);
}
/* --> MEMBER ACCOUNT Page [End] <-- */


/* MY RESERVATIONS OFFCANVAS [Start] */
#my-reservations-header {
    border-bottom: 5px solid var(--clr-police-blue);
}

#my-reservations-body {
    overflow: auto;
    scrollbar-color: var(--clr-police-blue) var(--clr-linen);   /* styles scrollbar in Firefox */
    scrollbar-width: thin;   /* styles scrollbar thumb in Firefox */
}

/* styles scrollbar in Chrome, Safari, & Edge */
#my-reservations-body::-webkit-scrollbar {
        background-color: var(--clr-linen);
        border-radius: 10px;
        width: 10px;
}

 /* styles scrollbar thumb in Chrome, Safari, & Edge */
 #my-reservations-body::-webkit-scrollbar-thumb {
    background-color: var(--clr-police-blue);
    border-radius: 5px;
}

#my-reservations-body h4 {
    font-size: 1rem;
}

#staticBackdropLabel {
    font-size: 1.2rem;
}

.my-booking-item {
    background-color: var(--clr-police-blue);
    color: var(--clr-timber-wolf);
}

.my-booking-item:hover {
    box-shadow: inset 0 0 5px 2px var(--clr-linen),  0 0 5px 2px var(--clr-police-blue);
}

.my-reservation-seats > p {
    color: var(--clr-crayola-gold);
    font-weight: 700;
    font-size: .9rem;
}
/* OFFCANVAS [End] */

/* ERROR PAGES [Start] */
#error-500,
#error-404 {
    font-size: 1.5rem;
}
/* ERROR PAGES [End] */


/* MEDIA QUERIES */

@media screen and (min-width: 400px) {
    #logo {
        font-size: 2rem;
    }

    .navbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    /* ALL EVENTS PAGE */
    .event-card-wrapper {
        width: 75%
    }

    #upcoming-events {
        font-size: 1.8rem;
    }

    /* EVENT DETAILS PAGE */
    .delete-comment-form > button {
        font-size: 1rem;
    }

    /* SEAT MAP PAGE */
    #view-seatmap-section h2 {
        font-size: 1.8rem;
    }

    #seatmap-instruction {
        font-size: 1rem;
    }

    /* SIGN OUT */
    #sign-out-notice {
        font-size: 1.1rem;
    }

    /* DELETE RESERVATIONS OFFCANVAS */
    #delete-reservation-body {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 485px) {
    /* HOME PAGE */
    #homepage-title {
        font-size: 3rem;
    }

    #logo-about-us {
        font-size: 1.5rem;
    }

    #about-us-outer-container p {
        font-size: 1.1rem;
    }

    /* EVENT DETAILS PAGE */
    #goodwill-presents {
        font-size: 1.1rem;
    }
    
    #event-details-title {
        font-size: 1.4rem;
    }
    
    #img-wrapper {
        height: 14rem;
    }

    /* FOOTER */
    #social-links {
        width: 28rem;
    }
}

@media screen and (min-width: 576px) {
    /* HOME PAGE */
    #title-span {
        font-size: 1.5rem;
    }

    #homepage-title {
        font-size: 3.2rem;
    }


    /* EVENT DETAILS PAGE */
    #event-details-title {
        font-size: 1.6rem;
    }
    
    #img-wrapper {
        height: 14rem;
    }

    /* FLASH MESSAGES */
    #flash-message {
        position: absolute;
        top: 3.2rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 768px) {
    #logo {
        font-size: 2.4rem;
    }

    /* HOME PAGE */
    #title-span {
        font-size: 1.6rem;
    }
    
    #homepage-title {
        font-size: 3.4rem;
    }

    #catchy-line {
        font-size: 1.2rem;
    }

    /* ABOUT US */
    #about-us-wrapper {
        width: 40rem;
    }

    #about-us-outer-container p {
        font-size: 1.2rem;
    }

    /* EVENT DETAILS PAGE */
    #goodwill-presents {
        font-size: 1.2rem;
    }

    #img-wrapper {
        height: 18rem;
    }

    /* FOOTER */
    #copy-right {
        font-size: 1.2rem;
    }

    #educ-statement {
        font-size: .9rem;
        position: absolute;
        top: 26%;
    }

    #social-links {
        width: 24rem;
    }

    .social i {
        font-size: 1.8rem;
    }
    
    /* FLASH MESSAGES */
    #flash-message {
        top: 2.5rem;
        width: 40rem;
    }
}

@media screen and (min-width: 900px) {

    /* ALL EVENTS PAGE */
    #upcoming-events {
        font-size: 2.2rem;
    }

    .event-card-img {
        height: 10rem;
        object-fit: cover;
    }

    /* EVENT DETAILS PAGE */
    #goodwill-presents {
        font-size: 1.3rem;
    }
    
    #event-details-title {
        font-size: 1.7rem;
    }
    
    #event-blurb {
        font-size: 1.2rem;
    }


    /* SEAT MAP PAGE */
    #view-seatmap-section h2 {
        font-size: 2.2rem;
    }

    /* FOOTER */
    #copy-right {
        font-size: 1.4rem;
    }

    #social-links {
        width: 28rem;
    }
}

@media screen and (min-width: 992px) {

    /* ALL EVENTS PAGE */
    .events-list.card-title {
        font-size: 1.2rem;
    }

    /* EVENT DETAILS PAGE */
    #img-wrapper {
        height: 22rem;
    }
}


@media screen and (min-width: 1080px) {

    /* EVENTS DETAILS PAGE */
    .event-details-div {
        width: 58rem;
        margin: auto;
    }

    #goodwill-presents {
        font-size: 1.4rem;
    }
        
    #event-details-title {
        font-size: 1.9rem;
    }
        
    #event-blurb {
        font-size: 1.3rem;
    }
    

    /* FOOTER */
    #social-links {
        width: 32rem;
    }

    .social i {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {

    /* HOME PAGE */
    #homepage-title {
        font-size: 3.8rem;
    }


    #featured-events-inner-container {
        width: 70rem;
    }

    .feat-event-card-wrapper {
        width: 23rem;
    }


    /* ALL EVENTS PAGE */
    .event-card-img {
        height: 13rem;
        object-fit: cover;
        object-position: 0 40%;
    }

}