{% extends "base.html" %}

<!-- Removes the flash message that comes with the base template -->
{% block flash-messages %}
{% endblock %}

{% block content %}
<section id="seat-reservation-section" class="container py-2 px-0">
    <!-- Event Info -->
    <div id="event-info" class="py-2 py-sm-4 pb-md-2">
        <h2 id="seating-event-title" class="mb-0 px-3">
            <a href="{% url 'event_details' event.slug %}">{{ event.title }}</a>
        </h2>
        <p class="px-3 m-0">{{ event.event_date|date:'d F Y, D' }} | <span>{{ event.event_time|date:'g:i A' }}</span></p>
    </div>
    
    <!-- Flash Message -->
    {% if messages %}
        {% for message in messages %}
        <div class="container">
            <div id="seating-flash-message" class="alert {{ message.tags }} alert-dismissible fade show m-auto mb-sm-0" role="alert">
                {{ message | safe}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    <!-- Feedback Message (Modified Bootstrap Toast) -->
    <div id="feedbackToast" class="toast align-items-center position-absolute" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body text-center"></div>
          <button type="button" class="btn-close me-2 mt-1" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

    <!-- Seat Map Legend -->
    <div id="seatmap-legend" class="container d-flex justify-content-around align-items-center px-2 py-1 pt-sm-3 pt-lg-4">
        <p class="seatmap-legend-icon m-0"><i id="available-icon" class="fas fa-circle"></i> Available</p>
        <p class="seatmap-legend-icon m-0"><i id="selected-icon" class="fas fa-circle"></i> Selected</p>
        <p class="seatmap-legend-icon m-0"><i id="unavailable-icon" class="fas fa-circle"></i> Unavailable</p>
    </div>
    
    <!-- SEAT MAP -->
    {% include 'seatmap.html' %}

</section>

<!-- RESERVATION DELETE CONFIRMATION (Bootstrap's offcanvas) [start] -->
<button id="confirm-delete" class="d-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Open Offcanvas</button>
<div class="offcanvas offcanvas-end color-dutch-white" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="delete-reservation-body" class="offcanvas-body d-flex pt-0 pb-5 px-5">
        <form class="d-flex flex-column align-self-center" method="POST" action="{% url 'delete_reservation' event.slug %}">
            {% csrf_token %}
            <p id="offcanvasRightLabel" class="text-center mb-4">Are you sure you want to delete your reservation?</p>
            <button type="submit" aria-label="confirm delete" class="btn btn-primary align-self-center">Confirm</button>
        </form>
    </div>
</div>
<!-- RESERVATION DELETE CONFIRMATION (Bootstrap's offcanvas) [end] -->

<!-- List of selected/reserved seats for the event -->
<p id="data-seats">
    {{ data | safe }}
</p>

{% endblock %}

{% block footer %}
 <!-- SELECTED SEATS FOOTER BOX [Start] -->
 <div id="selected-seats-container" class="fixed-bottom py-2 py-sm-3 px-3 px-sm-5">
    {% if user_booked_seats %}
    <h3 class="mb-0 m-md-auto">Your Reserved Seats:</h3>
    <div id="selected-seats-inner-wrapper" class="d-flex justify-content-between align-items-center mx-md-auto locked-style">
    {% else %}
    <h3 class="mb-0 m-md-auto">No Seats Reserved</h3>
    <div id="selected-seats-inner-wrapper" class="d-flex justify-content-between align-items-center mx-md-auto">
    {% endif %}
        <!-- Current User's Selected/Reserved Seats -->
        <ul id="seats-selected-list" class="my-2 ps-3 ps-sm-5">
            {% for seat in user_booked_seats %}
            <li id="{{ seat.seat_location_1 }}" class="d-flex align-items-center me-sm-5">{{ seat.seat_location_1 }}
                <button type="button" tabindex="-1" aria-label="deselect" class="btn-cancel-seat ms-2 p-0 disabled-btn"><i class="far fa-times-circle"></i></button>
            </li>
            {% if seat.seat_location_2 %}
            <li id="{{ seat.seat_location_2 }}" class="d-flex align-items-center me-sm-5">{{ seat.seat_location_2 }}
                <button type="button" tabindex="-1" aria-label="deselect" class="btn-cancel-seat ms-2 p-0 disabled-btn"><i class="far fa-times-circle"></i></button>
            </li>
            {% endif%}
            {% endfor %}
        </ul>
        <!-- Submit Buttons -->
        {% if user_booked_seats %}
        <button type="button" id="edit-reservation" class="btn btn-primary me-1 seat-booking-btn">Edit Reservation</button>
        <button type="button" id="update-reservation" class="btn btn-primary disabled-btn reserve-btn me-1 d-none seat-booking-btn">Update Reservation</button>
        {% else %}
        <button type="button" id="submit-reservation" class="btn btn-primary disabled-btn reserve-btn me-1 seat-booking-btn">Reserve</button>
        {% endif %}
    </div>

    <!-- Seat Reservation Form -->
    {% if user_booked_seats %}
    <form action="{% url 'update_reservation' event.slug %}" method="POST" id="reserve-seat-form">
    {% else %}
    <form action="{% url 'reserve_seats' event.slug %}" method="POST" id="reserve-seat-form">
    {% endif %}
        {% csrf_token %}
        {{ form }}
    </form>

    <!-- Reservation Notice -->
    <ul id="reservation-notice" class="ps-sm-0 mt-sm-2 mb-sm-0 mx-md-auto">
        <li class="d-none d-sm-block">Each member can only reserve a maximum of 2 seats per event.
        </li>
        <li class="d-none d-sm-block">Be at the venue at least 15 minutes before start of event to get your reserved seats.</li>
    </ul>
</div>
<input type="hidden" id="has-booked-seats" name="has-booked-seats" value="{{ user_booked_seats }}">
<!-- SELECTED SEATS FOOTER BOX [End] -->
{% endblock %}