{% extends 'base.html' %}

{% block content %}
<div>
    {% if 'proxy_image' in event.featured_image.url %}
    <img src="https://cdn.seeklearning.com.au/media/images/career-guide/article/career-advice/web_images/blogs/214/6084/How-music-and-sound-can-help-alleviate-career-anxiety_940x485.jpg"
        class="img-fluid" alt="featured_image">
    {% else %}
    <img src="{{ event.featured_image.url }}" class="img-fluid" alt="featured_image">
    {% endif %}
</div>
<div>
    <p>The Goodwill Events presents</p>
    <h2>{{ event }}</h2>
    <p>{{ event.blurb }}</p>
    <p>{{ event.event_date|date:'d F Y, l' }} | <span>{{ event.event_time|date:'g A' }}</span></p>
    <p id="reserve-seat-wrapper">
        <small>5 Seats Left</small> | <a href="{% url 'seatmap' event.slug %}"><button type="button" class="btn btn-primary btn-sm">Reserve A
            Seat</button></a> | {{ event.total_likes }}
            {% if event.total_likes > 1 %}
            <span>Likes</span>
            {% else %}
            <span>Like</span>
            {% endif %}
    </p>

    {% if user.is_authenticated %}
    <form action="{% url 'event_like' event.slug %}" method="POST" id="like-form">
        {% csrf_token %}

        {% if liked %}
        <button type="submit" name="event_id" value="event.slug"><i class="fa-solid fa-heart"></i></button>
        {% else %}
        <button type="submit" name="event_id" value="event.slug"><i class="fa-regular fa-heart"></i></button>
        {% endif %}
    </form>
    {% endif %}

    <div>
        <p>{{ event.post_content | safe }}</p>
    </div>
</div>

<!-- COMMENT SECTION -->
<section id="comments-outer-wrapper">
    {% if user.is_authenticated %}
    <div class="mb-3">
        <form action="{% url 'event_comment' event.slug %}" method="POST" id="comment-form">
            {% csrf_token %}
            <label for="comment_textarea" class="form-label">Your Comment:</label>
            <textarea class="form-control" id="comment_textarea" name="text_comment" rows="3" maxlength="250" required></textarea>
            <small id="char-counter">250 characters remaining</small>
            <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>
    {% endif %}
    <div class="card">
        {% if comments %}
        <h4>Comments:</h4>
        {% endif %}
        {% for comment in comments %}
        <div class="card-body">
            <h5 class="card-title">{{ comment.author.first_name }} {{ comment.author.last_name | first }}.</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ comment.posted_on }}</h6>
            <p class="card-text">{{ comment.text_comment }}</p>
            {% if comment.author == user %}
            <form action="{% url 'delete_comment' pk=comment.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>


{% endblock content %}