{% extends 'base.html' %}

{% block content %}
<div>
    {% if 'proxy_image' in event.featured_image.url %}
    <img src="https://cdn.seeklearning.com.au/media/images/career-guide/article/career-advice/web_images/blogs/214/6084/How-music-and-sound-can-help-alleviate-career-anxiety_940x485.jpg"
        class="img-fluid" alt="featured_image">
    {% else %}
    <img src="{{ event.featured_image.url }}" class="img-fluid" alt="featured_image">
    {% endif %}
</div>
<div>
    <p>The Goodwill Events presents</p>
    <h2>{{ event }}</h2>
    <a href="{% url 'seatmap' event.slug %}"><button type="button" class="btn btn-primary btn-sm">Reserve A
        Seat</button></a>
    <p>{{ event.blurb }}</p>
    <p>{{ event.event_date|date:'d F Y, l' }} | <span>{{ event.event_time|date:'g A' }}</span></p>
    <p>
        <small>5 Seats Left</small> |
        {% if liked %}
        <i class="fa-solid fa-heart"></i>
        {% else %}
        <i class="fa-regular fa-heart"></i>
        {% endif %}
        {{ event.total_likes }}
    </p>
    <button>Reserve A Seat</button>
    <div>
        <p>{{ event.post_content | safe }}</p>
    </div>
</div>

<!-- COMMENT SECTION HERE -->
<div>
    <!-- commentsection -->
</div>
{% endblock content %}