{% extends 'base.html' %}

{% block content %}

<h2>Upcoming Events</h2>

{% for event in events_list %}
<div class="card mb-3">
    {% if event.featured_image == 'proxy_image' %}
    <img src="https://cdn.seeklearning.com.au/media/images/career-guide/article/career-advice/web_images/blogs/214/6084/How-music-and-sound-can-help-alleviate-career-anxiety_940x485.jpg"
        class="card-img-top" alt="featured_image">
    {% else %}
    <img src="{{ event.featured_image}}" class="card-img-top" alt="featured_image">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text">{{ event.blurb }}</p>
        <p class="card-text"><small class="text-muted">{{ event.event_date}} | {{ event.event_time }}</small></p>
    </div>
</div>
{% endfor %}


{% endblock content %}