{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="homepage-banner-container" class="d-flex flex-column justify-content-center mt-5 pb-4">
    <h1 class="text-center mt-md-4 mx-3"><span id="title-span" class="d-block mb-3">Welcome to </span><span id="homepage-title">Goodwill Events</span></h1>
    <p id="catchy-line" class="text-center px-3 mt-2">The fusion of Entertainment and Charity.</p>
</section>

<section id="feature-events-outer-container" class="py-3 px-md-4">
    <h2 id="featured-events" class="text-center mb-4 pt-xl-4">Featured Events</h2>
    <div id="featured-events-inner-container" class="row row-cols-1 row-cols-md-2 d-md-flex justify-content-center justify-content-xl-between row-cols-lg-3 g-4 my-xl-0 mx-xl-auto">
        {% for event in featured_events %}
        <div class="col feat-event-card-wrapper">
            <a href="{% url 'event_details' event.slug %}">
                <div class="card h-100 feat-event-card">
                    {% if "proxy_image" in event.featured_image.url %}
                    <img src="{% static 'images/default-image.jpg' %}"
                        class="card-img-top featured-event-image" alt="image for featured event">
                    {% else %}
                    <img src="{{ event.featured_image.url }}" class="card-img-top featured-event-image" alt="image for featured event">
                    {% endif %}
                    <div class="card-body pb-0">
                        <h3 class="featured card-title text-center">{{ event.title }}</h3>
                        <p class="featured card-text text-center">{{ event.blurb }}</p>
                        <p class="text-center small-text text-blue">{{ event.event_date|date:'M j, Y - D' }} ({{ event.event_time|time:'f A' }})</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<section id="about-us-outer-container" class="py-2 px-4 py-md-5 px-sm-5">
    <h2 id="about-us" class="text-center">About Us</h2>
    <div id="about-us-wrapper" class="container my-4 my-md-5">
        <p>
            <span id="logo-about-us" class="logo-font-style">Goodwill Events</span> Organization is a charity organization that produces entertainment, such as concerts, 
            stand-up comedy programs, magic shows, pet shows, charity auctions, and others for charitable purposes.
        </p>
        <p>
            Funds raised for each event go to a specific beneficiary for either prevention or relief of poverty, 
            advancement of education, promotion of health, saving of lives, or others.
        </p>
        <p>
            The organization is open to the public for membership through registration via our website. And only members are given the privilege to
            attend events and become patrons.
        </p>
    </div>
</section>

{% endblock content %}

{% block footer %}

    {% include 'footer.html' %}

{% endblock %}